.main {
  padding: 22px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  padding: 8px 0px;
  color: rgb(223, 167, 247);
  margin-bottom: 24px;
}

.wordList {
  list-style-type: none;
  padding-top: 18px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.itemActions, .inputActions {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 16px;
}

.inputActions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shuffleButton {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 40px;
  color: rgb(223, 167, 247);
}

.wordText {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(68, 255, 0);
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.input {
  padding: 8px;
  border: 1px solid rgb(223, 167, 247);
}

.wordRow {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: center;
  margin-bottom: 24px;
}

.wordColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wordItem {
  background: #232323;
  padding: 18px 24px;
  border-radius: 8px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

